<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="ru.juni.rentcar">

    <!-- Разрешение для проверки состояния сети -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.RentCar"
        tools:targetApi="31">

        <!-- SplashActivity (экран-заставка) -->
        <activity
            android:name=".SplashActivity"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- MainActivity (основной экран) -->
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.RentCar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- NoConnectionActivity (экран "Нет подключения") -->
        <activity
            android:name=".NoConnectionActivity"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />

        <!-- OnboardingActivity (экран онбординга) -->
        <activity
            android:name=".OnboardingActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- AuthChoiceActivity (экран выбора входа/регистрации) -->
        <activity
            android:name=".auth.AuthChoiceActivity"
            android:exported="false" />

        <!-- LoginActivity (экран входа) -->
        <activity
            android:name=".auth.LoginActivity"
            android:exported="false" />

        <!-- RegisterActivity (экран регистрации) -->
        <activity
            android:name=".auth.RegisterActivity"
            android:exported="false" />

        <!-- RegisterStep2Activity (экран второй части регистрации) -->
        <activity
            android:name=".auth.RegisterStep2Activity"
            android:exported="false" />

        <!-- RegisterStep3Activity (экран третьей части регистрации) -->
        <activity
            android:name=".auth.RegisterStep3Activity"
            android:exported="false" />

        <!-- RegistrationSuccessActivity (экран успешной регистрации) -->
        <activity
            android:name=".auth.RegistrationSuccessActivity"
            android:exported="false" />

    </application>

</manifest>